.area-image {
    background: #212529;
    margin-bottom: 1rem;
}

.carousel-nav {
    border-top: 1px solid #62686d;
    padding: 1rem 0.5rem;
}

.carousel-cell {
    width: 100%;
    aspect-ratio: 1/1;
    margin-right: 8px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .carousel-cell {
        aspect-ratio: 16/9;
    }
}

.flickity-viewport {
    touch-action: pan-y;
    height: 378px;
}

.carousel-nav .carousel-cell {
    height: 90px;
    width: 120px;
}

.carousel-main img {
    display: block;
    margin: 0 auto;
    padding: 1rem 0rem;
}

.carousel-cell img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-nav .carousel-cell img {
    object-fit: cover;
}

.carousel-main .flickity-prev-next-button {
    width: 32px;
    height: 32px;
}

.carousel-nav .flickity-prev-next-button {
    display: none;
}

.carousel-nav .carousel-cell {
    opacity: 60%;
}

.carousel-nav .carousel-cell.is-selected.is-nav-selected {
    opacity: 100%;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.8);
    color: #fff;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
}
