* {
    box-sizing: border-box;
}

.carousel.carousel-widget {
    width: 100%;
    height: 100px;
}

.carousel.carousel-widget .flickity-viewport {
    height: 100% !important;
}

@media (min-width: 576px) {
    .carousel.carousel-widget {
        height: 144px;
    }
}

@media (min-width: 992px) {
    .carousel.carousel-widget {
        height: 180px;
    }
}

@media (min-width: 1400px) {
    .carousel.carousel-widget {
        height: 200px;
    }
}

.carousel.carousel-widget .carousel-cell {
    width: 100%;
    height: 100%;
    vertical-align: middle !important;
    counter-increment: carousel-cell;
}

.carousel.carousel-widget .carousel-cell a {
    width: 100%;
    height: 100%;
    vertical-align: middle !important;
    counter-increment: carousel-cell;
}

.carousel.carousel-widget .carousel-cell a img {
    height: 100%;
    object-fit: contain;
}