$brand-color: #09734A;
$brand-color-dark: #086943;
$brand-secondary: #FEC300;

@import url('https://fonts.googleapis.com/css2?family=El+Messiri');

@media (min-width: 360px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}

.navbar .d-flex .bg-brand .d-none .d-md-block {
    position: sticky;
    top: 0;
}

.bg-brand {
    background-color: rgba($brand-color, $alpha: 1.0);
    padding: 1rem 0;
}

.bg-brand-dark {
    background-color: rgba($brand-color-dark, $alpha: 1.0)
}

.search-button {
    width: 328px ;
}

.navbar.container {
    padding: 0.25rem 0rem;
    font-size: 0.875rem !important;    
}

.navbar-brand img{
    max-height: 2.5rem;
}

.navbar-nav {
    .nav-link {
        font-weight: 500;
        color: rgba($color: #fff, $alpha: 0.8);
        padding: 0.5rem 0.75rem !important;
        &:hover {
            color: rgba($color: #fff, $alpha: 1.0);
        }
    }
}

.nav-item.dropdown .dropdown-menu {
    .nav-item {
        a {
            color: #212529;
            
            &:hover {
                color: $brand-color;
                background-color: rgba($brand-color, $alpha: 0.1);
            }
        }
    }
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 500;

    .navbar-nav {
        flex-direction: row !important;

        .dropdown-menu {
            position: absolute;

            &.show {
                display: block;
            }
        }
    }
    
}

.form-control {
    padding: 0.75rem 0.875rem;
    font-size: 0.875rem;
}
/*Responsive Navbar Mobile*/
.navbar-mobile  {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.5rem;

    button {
        color: #fff !important;

        &:focus {
            color: #fff !important;
        }

        &:active {
            color: #fff !important;
        }
    }
}

.navbar-brand.nav-brand-mobile {
    margin: auto;
    
    img {
        max-height: 2rem;
        width: auto;
    }
}

.nav-mobile {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin-top: 4.5rem;

    font-size: 0.875rem;
    color: #212529;

    .nav-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 72px);

        &.search {
            width: 100%;
        }

        .date-item {
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #e9ecef;
            font-weight: 500;

            background-color: rgba($brand-color-dark, $alpha: 1.0);
            color: #fff;
        }
    }

    &.nav-search {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    }
}


[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}


.menu-mobile {
    height: 100%;
    overflow-y: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    .navbar-nav {
        .nav-item {
            padding: 0rem;
            border-bottom: 1px solid #e9ecef;

            .nav-link  {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0.875rem 0rem !important;
                color: #212529 !important;
                text-transform: uppercase;

                &::after {
                    flex-shrink: 0;
                    margin-left: auto;
                    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='%23212529'%3e%3cpath%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/%3e%3c/svg%3e") !important;
                    background-repeat: no-repeat;
                    width: 0.875rem;
                    height: 0.875rem;
                    background-size: 0.875rem;
                    border: none;
                }

                &.show::after {
                    transform: rotate(-180deg);
                }


            }
        }
    }

    .dropdown-menu {
        font-size: 0.875rem;
        font-weight: 500;
        border: 0;
        padding-top: 0rem;

        li .dropdown-item {
            font-weight: 500;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            text-transform: uppercase;
        }
    }
}

.btn-outline-secondary {
    &:hover {
        color: #495057;
    }
}

span.badge {
    font-size: 0.625rem !important;
    padding: 0.25rem 0.625rem;
}


.bg-overlay-dark {
    background: linear-gradient(0deg, rgba(7,20,55,0.8) 0%, rgba(7,20,55,0) 50%), rgba(7,20,55,0.2);
    background-size: 150% 150% ;
    background-position: 0% 0%;
    transition: background 0.5s ease-in-out ;
    
    &:hover {
        background-position: 100% 100%;
    }
}

.content-area {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .body-content {
        overflow-y: scroll;
    }
}

.widget a {
    img {
        width: 100%;
        object-fit: cover;
    }
}

article.headline{
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-bottom: 1px solid #e9ecef;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border-style: none ;
    }
}

// .img-headine {
//     width: 100%;
//     max-width: 400px;
//     height: auto;
// }

.news-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    .text-secondary {
        font-size: 0.75rem;
        margin: 0;
    }
}

.news-title {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    align-items: center;

    &:hover {
        color: rgba($brand-color-dark, $alpha: 1.0)
    }
}

.headline-title {
    font-size: 1rem !important;
    font-weight: 600;
    color: #fff;
}

@media (min-width: 576px) {
    .headline-title {
        font-size: 1.25rem !important;
    }
}


.card-headline {
    a {
        text-decoration: none;
    }
}

@media (min-width: 992px) {
    aside {
        width: 300px !important;
    }
}

.pojok-ketua {
    position: relative;
    z-index: 0;
    width: 100%;
    border-radius: 0.375rem;
    background-color: rgba($color: #035F56, $alpha: 1.0);
    overflow: hidden;

    .pojok-title {
        z-index: 1;
        padding: 1.25rem 1.25rem 0;
        border-bottom: 1px solid rgba($color: #e9ecef, $alpha: 0.2);

        h3 {
            font-size: 1.25rem;
            font-family: 'El Messiri';
            font-weight: 700;
            color: #fff
        }

        a {
            font-size: 0.625rem;
            color: rgba($color: #fff, $alpha: 0.5);
        }
    }

    .pojok-content {
        position: relative;
        z-index: 1;
        padding: 1.25rem;

        .pojok-news {
            padding: 0.75rem;
            background-color: #fff;
            border-radius: 0.375rem;

            a {
                text-decoration: none;
            }

            p {
                font-size: 0.75rem;
                margin: 0;
            }
        }
    }

    .pojok-footer {
        position: relative;
        z-index: 1;
        padding: 1.25rem;
        border-top: 1px solid rgba($color: #e9ecef, $alpha: 0.2);

        h5 {
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
        }

        p {
            font-size: 0.75rem;
            font-weight: 400;
            color: rgba($color: #fff, $alpha: 0.8);
            margin: 0;
        }
    }
}

.foto-ketua {
    position: relative !important;

    img {
        position: absolute !important;
        right: -1.25rem;
        bottom: -1.25rem;
    }
}

.radial-gradient-circle {
    position: absolute;
    z-index: -1;
    
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(254,195,0,0.3) 0%, rgba(254,195,0,0) 50%);

    &.top  {
        top: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
    }

    &.bottom {
        bottom: 0;
        left: 0;
        transform: translateX(-50%) translateY(50%);
    }
}

.list-popular {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding-bottom: 0.75rem;
        margin-top: 0.75rem;
        border-bottom: 1px solid #e9ecef;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-style: none ;
        }

        span {
            color: rgba($color: #FEC300, $alpha: 1.0);
            font-weight: 600;
            padding-right: 1.25rem;
        }
        
        a {
            color: #212529;
            text-decoration: none;
            font-weight: 600 ;

            &:hover {
                color: rgba($color: $brand-color, $alpha: 1.0);
            }
        }
    }
}

section {
    .section-title {
        padding-bottom: 0.5rem;

        h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }

        p {
            padding-top: 0.875rem;
            margin-bottom: 0rem;
        }
    }

    .line {
        position: relative;

        .yellow-line {
            width: 48px;
            position: absolute;
            background-color: rgba($color: $brand-secondary, $alpha: 1.0);
            height: 4px;
            z-index: 2;
        }
        .base-line {
            width: 100%;
            position: absolute;
            background-color: #e9ecef;
            height: 4px;
            z-index: 1;
        }
    }
}

@media (min-width: 576px) {
    .news-content {
        .news-image {
            margin-right: 1.25rem;
            aspect-ratio: 4/3 !important;
            width: 160px !important;
            height: 120px !important;
        }
    }
}

.news-content {
    display: flex;
    flex-direction: row;

    .news-image {
        flex: 0 0 auto;
        margin-right: 1rem;
        aspect-ratio: 1/1;
        width: 120px;
        height: 120px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 0.375rem;
            display: block;
        }
    }

    .news-detail {
        flex: auto;
        a {
            text-decoration: none;
        }
        .description-news {
            display: -webkit-box;
            font-size: 0.875rem;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

article.news-content{
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-bottom: 1px solid #e9ecef;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border-style: none ;
    }
}

#video-content {
    background-color: #f8f9fa;
    padding: 3rem 0rem;
}

.card-content {
    display: flex;
    flex-direction: column;

    .card-image {
        margin-bottom: 0.625rem;
        width: auto;
        height: 260px;

        img {
            width: 100%;
            height: auto;
            border-radius: 0.375rem;
            display: block;
        }
    }

    .card-detail {
        a {
            text-decoration: none;
        }
    }
}

#image-content {
    padding: 3rem 0rem;
}

.card-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    .text-secondary {
        font-size: 0.75rem;
        margin: 0;
    }
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    align-items: center;

    &:hover {
        color: rgba($brand-color-dark, $alpha: 1.0)
    }
}

.content-image {
    margin-bottom: 0.625rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 0.375rem;

    img {
        width: 100%;
        height: auto;
        display: block;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

footer {
    border-top: 4px solid rgba($color: $brand-color-dark, $alpha: 1.0);
    background-color: #f8f9fa;

}

.group-footer {
    h2 {
        font-size: 1rem;
        font-weight: 600;
    }
}

.list-footer {
    list-style: none;
    padding: 0px;

    columns: 2;
    column-gap: 1rem;
}

.list-footer li {
    display: block;
    padding-bottom: 0.25rem;
    margin-top: 0.75rem;
    break-after: 4;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-style: none ;
        }
        
        a {
            color: rgba(#212529, $alpha: 0.8);
            text-decoration: none;
            font-weight: 400 ;

            &:hover {
                color: rgba($color: $brand-color, $alpha: 1.0);
            }
        }
}

.second-footer {
    padding: 1rem 0rem;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(#212529, $alpha: 0.8);

    border-top: 1px solid #e9ecef;

    .container {
        p {
            margin-bottom: 0rem;
        }
    }
}

@media (min-width: 992px) {
    .second-footer {
        text-align: left;
    }
}

.list-socmed {
    display: flex;
    gap: 0.625rem;
}

$brand-facebook: #4267B2;
$brand-facebook-hover: #203E7B;
$brand-instagram: #C13584;
$brand-instagram-hover: #951F62;
$brand-x: #14171A;
$brand-x-hover: #000000;
$brand-youtube: #FF0000;
$brand-youtube-hover: #AA0000;
$brand-whatsapp: #128C7E;
$brand-whatsapp-hover: #075E54;


.btn-facebook {
    color: #fff;
    background-color: $brand-facebook ;

    &:hover {
        color: #fff;
        background-color: $brand-facebook-hover;
    }
}

.btn-instagram {
    color: #fff;
    background-color: $brand-instagram ;

    &:hover {
        color: #fff;
        background-color: $brand-instagram-hover;
    }
}

.btn-x {
    color: #fff;
    background-color: $brand-x ;

    &:hover {
        color: #fff;
        background-color: $brand-x-hover;
    }
}

.btn-youtube {
    color: #fff;
    background-color: $brand-youtube ;

    &:hover {
        color: #fff;
        background-color: $brand-youtube-hover;
    }
}

.btn-whatsapp {
    color: #fff;
    background-color: $brand-whatsapp ;

    &:hover {
        color: #fff;
        background-color: $brand-whatsapp-hover;
    }
}

.brand-footer {
    margin-bottom: 1rem;
    
    .image-footer {
        display: block;
        margin-bottom: 1rem;

        img {
            max-height: 3rem;
        }
    }
    
    p {
        font-size: 0.875rem;
    }
}

.subscribe-email {
    p {
        font-size: 0.875rem;
    }
}

.form-subscribe {
    display: flex;
    gap: 0.625rem;

    button {
        color: #fff;
        background-color: $brand-color;
        font-size: 0.875rem;


        &:hover {
            color: #fff;
            background-color: $brand-color-dark;
        }
    }
}

/* News Detail */

.list-breadcrumb {
    margin-bottom: 0.875rem !important;
    
    ol {
        color: #adb5bd !important;
        .breadcrumb-item {
            font-size: 0.875rem;
            
            a {
                color: #adb5bd !important;
                text-decoration: none !important;

                &:hover {
                    color: rgba($brand-color, $alpha: 1.0) !important;
                }
            }

            &.active {
                color: #212529 !important;

                a {
                    color: #212529 !important;
                    
                    &:hover {
                        color: rgba($brand-color, $alpha: 1.0) !important;
                    }
                }
                
            }
            
        }

        .breadcrumb-item + .breadcrumb-item::before {  
            float: left;
            padding-right: 0.5rem;
            display: grid;
            align-items: center;
            height: 100%;
            content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNSA5TDcuNSA2TDQuNSAzIiBzdHJva2U9IiNBMUE1QjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
            
        }
    }
}

.content-detail {
    h1 {
        font-size: 1.75rem;
        line-height: 150%;
        font-weight: 600;
    }

    p {
        color: rgba(#212529, 0.8);
        font-size: 0.875rem;
    }
}

.thumbnail {
    figure {
        border-bottom: 1px solid #e9ecef;
        padding-bottom:0.875rem;
        margin-bottom: 1rem;

        img {
            margin-bottom: 0.625rem;
            border-radius: 0.375rem;
        }

        figcaption {
            font-size: 0.875rem;
            color: #adb5bd;
        }
    }
}

.area-video {
    iframe {
        width: 100%;
        height: auto;
        min-height: 336px;
        aspect-ratio: 16/9;
        border-radius: 0.375rem;
    }
}

.text-content {
    p {
        font-size: 1rem;
        line-height: 150%;
    }

    a {
        text-decoration: none;
        color: rgba($brand-color, $alpha: 1.0);

        &:hover {
            color: rgba($brand-color-dark, $alpha: 1.0);
            text-decoration: underline;
        }
    }

    blockquote {
        background-color: #f8f9fa;
        padding: 0.75rem 1rem;
        border-left: 4px solid rgba($brand-color, $alpha: 1.0);

        span {
            display: block;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }

        a {
            font-weight: 600;
        }
    }

    figure {
        border-bottom: 1px solid #e9ecef;
        padding-bottom:0.875rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
            margin-bottom: 0.625rem;
            border-radius: 0.375rem;
        }

        figcaption {
            font-size: 0.875rem;
            color: #adb5bd;
        }
    }
}

.widget-content {
    background-color: #f8f9fa;
    text-align: center;

    img {
        max-height: 300px ;
    }
}

.pagination-area {
    border-radius: 0.375rem;
    background-color: #f8f9fa;
    padding: 0.75rem 1rem;
}

.pagination {
    margin: 0rem;
    justify-content: center;
    gap: 0.5rem;

    .page-item .page-link {
        border-radius: 0.375rem;

        color: #212529;
        border: 1px solid #e9ecef;

        &:hover {
            background-color: rgba($brand-color, $alpha: 0.1);
            border: 1px solid rgba($color: $brand-color, $alpha: 1.0);
        }
    }
} 

.active > .page-link {
    background-color: $brand-color !important;
    border-color: $brand-color !important;
    color: #fff !important;

    &:hover {
        background-color: $brand-color-dark !important;
        border-color: $brand-color-dark !important;
    }
}

#prevPage {
    display: block;
}

#lastPage {
    display: block;
}

.share-area {
    display: flex;
    flex-wrap: wrap;

    border-radius: 0.375rem;
    border: 1px dashed #e9ecef;
    padding: 0.75rem 1rem;

    p {
        margin: 0rem;
        align-self: center;
        font-weight: 600;
    }
}

.share-socmed .btn-box {
    width: 38px;    
    height: 38px;
    

    i {
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.btn-clipboard {
    color: #fff;
    background-color: $brand-color ;

    &:hover {
        color: #fff;
        background-color: $brand-color-dark;
    }
}

.tags-area {
    display: flex;
    flex-direction: column;
    
    a {
        color: #212529;
        text-decoration: none;
        font-weight: 600;
    }
}

.btn-tags {
    color: $brand-color !important;
    border: 1px solid $brand-color;
    border-radius: 50rem;
    font-weight: 400 !important;
    font-size: 0.875rem;

    &:hover {
        background-color: rgba($brand-color, $alpha: 0.1);
        color: $brand-color !important  ;
        border: 1px solid $brand-color;
    }
}