@import url("https://fonts.googleapis.com/css2?family=El+Messiri");
@media (min-width: 360px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .sticky-widget {
        display: block;
    }
}

/* @media (max-width: 1439px) {
  .sticky-widget {
    display: none;
  }

  .ornament {
    display: none !important;
  }
} */

.sticky-widget {
    width: 200px;
    height: 640px;
    top: 0;
    position: sticky;
    text-align: center;
    padding: 20px;
    padding-bottom: -20px;
}

.portal-sticky {
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .d-flex .bg-brand .d-none .d-md-block {
    position: sticky;
    top: 0;
}

.bg-brand {
    background-color: #09734a;
    padding: 1rem 0;
}

.bg-navbar {
    position: relative;
    background-image: url("/assets/assets-landing/images/bg-navbar.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ornament {
    position: absolute;
    height: 100%;
    z-index: 1;
}

.ornament-left {
    left: 0;
}

.ornament-right {
    right: 0;
}

.top-navbar {
    z-index: 5;
    padding-top: 17px;
    padding-bottom: 17px;
}

.bg-brand-dark {
    position: relative;
    z-index: 5;
    background-color: rgba(33, 37, 41, 0.6) !important;
}

.search-button {
    width: 328px;
}

.navbar.container {
    padding: 0.25rem 0rem;
    font-size: 0.875rem !important;
}

.navbar-brand img {
    max-height: 2.5rem;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 0.75rem !important;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.nav-item.dropdown .dropdown-menu .nav-item a {
    color: #212529;
}

.nav-item.dropdown .dropdown-menu .nav-item a:hover {
    color: #09734a;
    background-color: rgba(9, 115, 74, 0.1);
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 500;
}

.navbar-menu .navbar-nav {
    flex-direction: row !important;
}

.navbar-menu .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-menu .navbar-nav .dropdown-menu.show {
    display: block;
}

.form-control {
    padding: 0.75rem 0.875rem;
    font-size: 0.875rem;
}

/*Responsive Navbar Mobile*/
.navbar-mobile {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.5rem;
}

.navbar-mobile button {
    color: #fff !important;
}

.navbar-mobile button:focus {
    color: #fff !important;
}

.navbar-mobile button:active {
    color: #fff !important;
}

.navbar-brand.nav-brand-mobile {
    margin: auto;
}

.navbar-brand.nav-brand-mobile img {
    max-height: 2rem;
    width: auto;
}

.nav-mobile {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin-top: 4.5rem;
    font-size: 0.875rem;
    color: #212529;
}

.nav-mobile .nav-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 72px);
}

.nav-mobile .nav-content.search {
    width: 100%;
}

.nav-mobile .nav-content .date-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
    font-weight: 500;
    background: linear-gradient(rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.6)),
        url("/assets/assets-landing/images/bg-navbar.png");
    color: #fff;
}

.nav-mobile.nav-search {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03), 0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06), 0px 32px 24px rgba(3, 7, 18, 0.08);
}

[aria-expanded="false"]>.expanded,
[aria-expanded="true"]>.collapsed {
    display: none;
}

.menu-mobile {
    height: 100%;
    overflow-y: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.menu-mobile .navbar-nav .nav-item {
    padding: 0rem;
    border-bottom: 1px solid #e9ecef;
}

.menu-mobile .navbar-nav .nav-item .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.875rem 0rem !important;
    color: #212529 !important;
    text-transform: uppercase;
}

.menu-mobile .navbar-nav .nav-item .nav-link::after {
    flex-shrink: 0;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='%23212529'%3e%3cpath%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    width: 0.875rem;
    height: 0.875rem;
    background-size: 0.875rem;
    border: none;
}

.menu-mobile .navbar-nav .nav-item .nav-link.show::after {
    transform: rotate(-180deg);
}

.menu-mobile .dropdown-menu {
    font-size: 0.875rem;
    font-weight: 500;
    border: 0;
    padding-top: 0rem;
}

.menu-mobile .dropdown-menu li .dropdown-item {
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    text-transform: uppercase;
}

.btn-outline-secondary:hover {
    color: #495057;
}

span.badge {
    font-size: 0.625rem !important;
    padding: 0.25rem 0.625rem;
}

.bg-overlay-dark {
    background: linear-gradient(0deg,
            rgba(7, 20, 55, 0.8) 0%,
            rgba(7, 20, 55, 0) 50%),
        rgba(7, 20, 55, 0.2);
    background-size: 150% 150%;
    background-position: 0% 0%;
    transition: background 0.5s ease-in-out;
}

.bg-overlay-dark:hover {
    background-position: 100% 100%;
}

.content-area {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-area header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.content-area .body-content {
    overflow-y: scroll;
}

.widget a img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

article.headline {
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.news-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.news-info .text-secondary {
    font-size: 0.75rem;
    margin: 0;
}

.news-title {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    align-items: center;
}

.news-title:hover {
    color: #086943;
}

.headline-title {
    font-size: 1rem !important;
    font-weight: 600;
    color: #fff;
}

@media (min-width: 576px) {
    .headline-title {
        font-size: 1.25rem !important;
    }
}

.card-headline .news-image {
    aspect-ratio: 4 / 3 !important;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.card-headline .news-image img {
    border-radius: 0.375rem;
    display: block;
}

.card-headline .news-info {
    margin-top: 0.5rem !important;
}

.card-headline .news-info a {
    text-decoration: none;
}

.card-headline .news-info a .news-title {
    font-size: 0.875rem;
}

@media (max-width: 576px) {
    .card-headline {
        display: flex;
        flex-direction: row;
    }

    .card-headline .news-image {
        margin-right: 1rem;
        aspect-ratio: 1 / 1 !important;
        width: 120px !important;
        height: 120px !important;
    }

    .card-headline .news-info {
        /* align-items: flex-start !important; */
        display: block;
        margin-top: 0 !important;
    }

    .card-headline .news-info .text-secondary {
        margin-bottom: 0.5rem !important;
    }

    .card-headline a .news-title {
        font-size: 1rem !important;
    }
}


@media (min-width: 992px) {
    aside {
        width: 300px !important;
    }
}

.pojok-ketua {
    position: relative;
    z-index: 0;
    width: 100%;
    border-radius: 0.375rem;
    background-color: #035f56;
    overflow: hidden;
}

.pojok-ketua .pojok-title {
    z-index: 1;
    padding: 1.25rem 1.25rem 0;
    border-bottom: 1px solid rgba(233, 236, 239, 0.2);
}

.pojok-ketua .pojok-title h3 {
    font-size: 1.25rem;
    font-family: "El Messiri";
    font-weight: 700;
    color: #fff;
}

.pojok-ketua .pojok-title a {
    font-size: 0.625rem;
    color: rgba(255, 255, 255, 0.5);
}

.pojok-ketua .pojok-content {
    position: relative;
    z-index: 1;
    padding: 1.25rem;
}

.pojok-ketua .pojok-content .pojok-news {
    padding: 0.75rem;
    background-color: #fff;
    border-radius: 0.375rem;
}

.pojok-ketua .pojok-content .pojok-news a {
    text-decoration: none;
}

.pojok-ketua .pojok-content .pojok-news p {
    font-size: 0.75rem;
    margin: 0;
}

.pojok-ketua .pojok-content .pojok-news .news-title * {
    font-size: 1rem !important;
}

.pojok-ketua .pojok-footer {
    position: relative;
    z-index: 1;
    padding: 1.25rem;
    border-top: 1px solid rgba(233, 236, 239, 0.2);
}

.pojok-ketua .pojok-footer h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.pojok-ketua .pojok-footer p {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.foto-ketua {
    position: relative !important;
}

.foto-ketua img {
    position: absolute !important;
    right: -1.25rem;
    bottom: -1.25rem;
}

.radial-gradient-circle {
    position: absolute;
    z-index: -1;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgba(254, 195, 0, 0.3) 0%,
            rgba(254, 195, 0, 0) 50%);
}

.radial-gradient-circle.top {
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.radial-gradient-circle.bottom {
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%);
}

.list-popular {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-popular li {
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-bottom: 1px solid #e9ecef;
}

.list-popular li:first-child {
    margin-top: 0;
}

.list-popular li:last-child {
    border-style: none;
}

.list-popular li span {
    color: #fec300;
    font-weight: 600;
    padding-right: 1.25rem;
}

.list-popular li a {
    color: #212529;
    text-decoration: none;
    font-weight: 600;
}

.list-popular li a:hover {
    color: #09734a;
}

section .section-title {
    padding-bottom: 0.5rem;
}

section .section-title h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

section .section-title p {
    padding-top: 0.875rem;
    margin-bottom: 0rem;
}

section .line {
    position: relative;
}

section .line .yellow-line {
    width: 48px;
    position: absolute;
    background-color: #fec300;
    height: 4px;
    z-index: 2;
}

section .line .base-line {
    width: 100%;
    position: absolute;
    background-color: #e9ecef;
    height: 4px;
    z-index: 1;
}

@media (min-width: 576px) {
    .news-content .news-image {
        margin-right: 1.25rem;
        aspect-ratio: 4/3 !important;
        width: 160px !important;
        height: 120px !important;
    }
}

.news-content {
    display: flex;
    flex-direction: row;
}

.news-content .news-image {
    flex: 0 0 auto;
    margin-right: 1rem;
    aspect-ratio: 1/1;
    width: 120px;
    height: 120px;
}

.news-content .news-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.375rem;
    display: block;
}

.news-content .news-detail {
    flex: auto;
}

.news-content .news-detail a {
    text-decoration: none;
}

.news-content .news-detail .description-news {
    display: -webkit-box;
    font-size: 0.875rem;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.news-content {
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-bottom: 1px solid #e9ecef;
}

article.news-content:first-child {
    margin-top: 0;
}

article.news-content:last-child {
    border-style: none;
}

#video-content {
    background-color: #f8f9fa;
    padding: 3rem 0rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content .card-image {
    margin-bottom: 0.625rem;
    width: auto;
    height: 260px;
}

.card-content .card-image img {
    width: 100%;
    height: auto;
    border-radius: 0.375rem;
    display: block;
}

.card-content .card-detail a {
    text-decoration: none;
}

#image-content {
    padding: 3rem 0rem;
}

.card-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.card-info .text-secondary {
    font-size: 0.75rem;
    margin: 0;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    align-items: center;
}

.card-title:hover {
    color: #086943;
}

.content-image {
    margin-bottom: 0.625rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 0.375rem;
}

.content-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.5s;
}

.content-image img:hover {
    transform: scale(1.1);
}

footer {
    border-top: 4px solid #086943;
    background-color: #f8f9fa;
}

.group-footer h2 {
    font-size: 1rem;
    font-weight: 600;
}

.list-footer {
    list-style: none;
    padding: 0px;
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.list-footer li {
    display: block;
    padding-bottom: 0.25rem;
    margin-top: 0.75rem;
    -moz-column-break-after: 4;
    break-after: 4;
}

.list-footer li:first-child {
    margin-top: 0;
}

.list-footer li:last-child {
    border-style: none;
}

.list-footer li a {
    color: rgba(33, 37, 41, 0.8);
    text-decoration: none;
    font-weight: 400;
}

.list-footer li a:hover {
    color: #09734a;
}

.second-footer {
    padding: 1rem 0rem;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(33, 37, 41, 0.8);
    border-top: 1px solid #e9ecef;
}

.second-footer .container p {
    margin-bottom: 0rem;
}

@media (min-width: 992px) {
    .second-footer {
        text-align: left;
    }
}

.list-socmed {
    display: flex;
    gap: 0.625rem;
}

.btn-facebook {
    color: #fff;
    background-color: #4267b2;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #203e7b;
}

.btn-instagram {
    color: #fff;
    background-color: #c13584;
}

.btn-instagram:hover {
    color: #fff;
    background-color: #951f62;
}

.btn-x {
    color: #fff;
    background-color: #14171a;
}

.btn-x:hover {
    color: #fff;
    background-color: #000000;
}

.btn-youtube {
    color: #fff;
    background-color: #ff0000;
}

.btn-youtube:hover {
    color: #fff;
    background-color: #aa0000;
}

.btn-whatsapp {
    color: #fff;
    background-color: #128c7e;
}

.btn-whatsapp:hover {
    color: #fff;
    background-color: #075e54;
}

.brand-footer {
    margin-bottom: 1rem;
}

.brand-footer .image-footer {
    display: block;
    margin-bottom: 1rem;
}

.brand-footer .image-footer img {
    max-height: 3rem;
}

.brand-footer p {
    font-size: 0.875rem;
}

.subscribe-email p {
    font-size: 0.875rem;
}

.form-subscribe {
    display: flex;
    gap: 0.625rem;
}

.form-subscribe button {
    color: #fff;
    background-color: #09734a;
    font-size: 0.875rem;
}

.form-subscribe button:hover {
    color: #fff;
    background-color: #086943;
}

/* News Detail */
.list-breadcrumb {
    margin-bottom: 0.875rem !important;
}

.list-breadcrumb ol {
    color: #adb5bd !important;
}

.list-breadcrumb ol .breadcrumb-item {
    font-size: 0.875rem;
}

.list-breadcrumb ol .breadcrumb-item a {
    color: #adb5bd !important;
    text-decoration: none !important;
}

.list-breadcrumb ol .breadcrumb-item a:hover {
    color: #09734a !important;
}

.list-breadcrumb ol .breadcrumb-item.active {
    color: #212529 !important;
}

.list-breadcrumb ol .breadcrumb-item.active a {
    color: #212529 !important;
}

.list-breadcrumb ol .breadcrumb-item.active a:hover {
    color: #09734a !important;
}

.list-breadcrumb ol .breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    display: grid;
    align-items: center;
    height: 100%;
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNSA5TDcuNSA2TDQuNSAzIiBzdHJva2U9IiNBMUE1QjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
}

.no-click {
    cursor: pointer;
}

.content-detail h1 {
    font-size: 1.75rem;
    line-height: 150%;
    font-weight: 600;
}

.content-detail span {
    color: rgba(33, 37, 41, 0.8);
    font-size: 0.875rem;
}

.content-detail a {
    color: rgba(33, 37, 41, 0.8);
    text-decoration: none;
}

.content-detail a:hover {
    color: #086943;
    text-decoration: underline;
}

.content-detail p {
    margin-bottom: 0rem;
}

.thumbnail figure {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.875rem;
    margin-bottom: 1rem;
}

.thumbnail figure img {
    margin-bottom: 0.625rem;
    border-radius: 0.375rem;
}

.thumbnail figure figcaption {
    font-size: 0.875rem;
    color: #adb5bd;
}

.area-video iframe {
    width: 100%;
    height: auto;
    min-height: 336px;
    aspect-ratio: 16/9;
    border-radius: 0.375rem;
}

.text-content p {
    font-size: 1rem;
    line-height: 150%;
}

.text-content a {
    text-decoration: none;
    color: #09734a;
}

.text-content a:hover {
    color: #086943;
    text-decoration: underline;
}

.text-content blockquote {
    margin: 1.5rem 0 !important;
    background-color: #f8f9fa;
    padding: 0.75rem 1rem;
    border-left: 4px solid #09734a;
    margin-block: 0;
    margin-inline: 0;
}

.text-content blockquote span {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.text-content blockquote a {
    display: block;
    margin: 0;
    font-weight: 600;
}

.text-content figure {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.875rem;
    margin-bottom: 1rem;
}

.text-content figure img {
    width: 100%;
    margin-bottom: 0.625rem;
    border-radius: 0.375rem;
}

.text-content figure figcaption {
    font-size: 0.875rem;
    color: #adb5bd;
}

.widget-content {
    background-color: #f8f9fa;
    text-align: center;
}

.widget-content img {
    max-height: 300px;
}

.pagination-area {
    border-radius: 0.375rem;
    background-color: #f8f9fa;
    padding: 0.75rem 1rem;
}

.pagination {
    margin: 0rem;
    justify-content: center;
    gap: 0.5rem;
}

.pagination .page-item .page-link {
    border-radius: 0.375rem;
    color: #212529;
    border: 1px solid #e9ecef;
}

.pagination .page-item .page-link:hover {
    background-color: rgba(9, 115, 74, 0.1);
    border: 1px solid #09734a;
}

.active>.page-link {
    background-color: #09734a !important;
    border-color: #09734a !important;
    color: #fff !important;
}

.active>.page-link:hover {
    background-color: #086943 !important;
    border-color: #086943 !important;
}

#prevPage {
    display: block;
}

#lastPage {
    display: block;
}

.contributor-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0.75rem 0rem;
    border-top: 1px solid #e9ecef;
}

.contributor-area a {
    font-weight: 600;
    text-decoration: none;
    color: #212529;
}

.contributor-area a:hover {
    color: #086943;
    text-decoration: underline;
}

.share-area {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.375rem;
    border: 1px dashed #e9ecef;
    padding: 0.75rem 1rem;
}

.share-area p {
    margin: 0rem;
    align-self: center;
    font-weight: 600;
}

.share-socmed .btn-box {
    width: 38px;
    height: 38px;
}

.share-socmed .btn-box i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-clipboard {
    color: #fff;
    background-color: #09734a;
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #086943;
}

.toast-copy {
    background-color: #09734a;
    color: #fff;
}

.tags-area {
    display: flex;
    flex-direction: column;
}

.tags-area a {
    color: #212529;
    text-decoration: none;
    font-weight: 600;
}

.btn-tags {
    color: #09734a !important;
    border: 1px solid #09734a;
    border-radius: 50rem;
    font-weight: 400 !important;
    font-size: 0.875rem;
}

.btn-tags:hover {
    background-color: rgba(9, 115, 74, 0.1);
    color: #09734a !important;
    border: 1px solid #09734a;
}

.mostList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .mostItem {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
  }

  .mostItem:hover .mostItem-title {
    color: #09734a;
  }

  .mostItem:last-child {
    border-bottom: none;
  }

  .mostItem-count {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
  }

  .mostItem-box {
    flex-grow: 1;
  }

  .mostItem-title {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.4;
  }

  .mostItem-subtitle {
    font-size: 0.9rem;
    color: #666;
  }

  .mostItem-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
  }
/*# sourceMappingURL=main.css.map */